/*fonts*/
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ccc;
}
h1,
h2,
h3,
h4 {
    font-family: Cambria, Georgia, serif;
}

/*text alignment*/
.container,
.container h2,
.container h3,
.container .studies p {
    text-align: center;
}
article,
article .index p,
article .aboutme p,
article .projects p {
    text-align: justify;
}
footer ul {
    list-style-type: none;
}

/*color*/
body,
footer,
body h1,
body h2,
body p,
footer li {
    background-color: #222222;
    color: #bbbbbb;
}

/*navbar*/
nav a {
    font-weight: bold;
}

/*index*/
.index #topofpage {
    display: none;
}
.index #me {
    text-align: center;
}
.index #me p {
    font-size: 0.9rem;
    color: #888888;
}
.index #me img {
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
}
.index .btn {
    border: 3px solid #777777;
}
#info svg {
    object-fit: cover;
    width: 80%;
    max-width: 100px;
    height: auto;
}

/*aboutme*/
.vrije-tijd,
.vrije-tijd h2,
.vrije-tijd h3,
.vrije-tijd p {
    background-color: #111111;
    color: #aaaaaa;
}
.aboutme #me {
    text-align: center;
}
.aboutme #me img {
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    border-radius: 2rem;
}
#scouts {
    text-align: center;
}
#scouts img {
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    border-radius: 2rem;
}
#swimming {
    text-align: center;
}
#swimming img {
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    border-radius: 2rem;
}
.aboutme #me figcaption,
.hobbies figcaption {
     font-size: 0.9rem;
     color: #888888;
 }
article.studies p:nth-child(odd) {
    font-size: 0.9rem;
    color: #888888;
}
#tmg img {
    object-fit: cover;
    width: 100%;
    max-width: 318px;
    border-radius: 2rem;
}
.aboutme .footer,
.aboutme .footer footer,
.aboutme .footer h2,
.aboutme .footer li {
    background-color: #111111;
    color: #aaaaaa;
}

/*projects*/
.projects section {
    font-size: 0.85rem;
}
.projects p {
    text-align: justify;
}
.iot,
.iot p,
.hosting,
.hosting p {
    background-color: #111111;
    color: #aaaaaa;
}
.unicenta figcaption {
    font-size: 0.9rem;
    color: #888888;
}
.unicenta img {
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    border-radius: 2rem;
}
.pi figcaption {
    font-size: 0.9rem;
    color: #888888;
}
.pi img {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    border-radius: 2rem;
}
.topology figcaption {
    font-size: 0.9rem;
    color: #888888;
}
.topology img {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    border-radius: 2rem;
}
.css ul li {
    text-align: left;
}
.netdata figcaption {
    font-size: 0.9rem;
    color: #888888;
}
.netdata img {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    border-radius: 2rem;
}
.schema figcaption {
    font-size: 0.9rem;
    color: #888888;
}
.schema img {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
}



/*resume*/
.resume figcaption {
    font-size: 0.9rem;
    color: #888888;
}
#resume img {
    object-fit: cover;
    width: 100%;
    max-width: 800px;
    border-radius: 2rem;
}
.resume .footer,
.resume .footer footer,
.resume .footer h2,
.resume .footer li {
    background-color: #111111;
    color: #aaaaaa;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    #tmg img {
        max-width: 400px;
    }
}

@media screen and (min-width: 992px) {
    .pi img {
        max-width: 500px;
    }
    .topology img {
        max-width: 500px;
    }
    .netdata img {
        max-width: 500px;
    }
    .schema img {
        max-width: 500px;
    }
}
